@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  min-height: 100%;
  background-image: url('/background-all.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body,
#root {
  min-height: 100%;
  background-color: transparent;
  margin: 0;
}
